<footer>
  <div class="footerinfo">
    <div class="finfosocial">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="finfobrand"> &copy; Staynest Private Limited</div>
    <div class="finfolinks">
      <a href="/privacy">Privacy</a>  
      <a href="/terms">terms</a>
    </div>
  </div>
</footer>
