<% layout('./layouts/common.ejs') %>
<body>
    <ul>
        <h3>all hotels</h3>
        <!-- <form action="/listing/new" method="get">
            <button>create new</button>
        </form> -->
        <% for(let list of listings){ %>
            <li>
                <a href="http://localhost:3000/listing/<%= list._id %>">
                    <%= list.title %>
                </a>
            </li>
            <% } %>
    </ul>
</body>
